<?xml version="1.0" encoding="UTF-8"?>
<response>
    <playerdata>
        <result __type="s32">0</result>
        <is_new __type="bool">0</is_new>
        <eventdata>
            <eventid __type="u32">13</eventid>
            <eventtype __type="s32">9999</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">0</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">30</eventid>
            <eventtype __type="s32">9999</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">0</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">816</eventid>
            <eventtype __type="s32">31</eventtype>
            <eventno __type="u32">1</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">16</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">817</eventid>
            <eventtype __type="s32">31</eventtype>
            <eventno __type="u32">2</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">17</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">818</eventid>
            <eventtype __type="s32">31</eventtype>
            <eventno __type="u32">3</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">18</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">819</eventid>
            <eventtype __type="s32">31</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">19</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">2000</eventid>
            <eventtype __type="s32">31</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">16</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">2001</eventid>
            <eventtype __type="s32">31</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">17</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">2002</eventid>
            <eventtype __type="s32">31</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">18</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">2003</eventid>
            <eventtype __type="s32">31</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">19</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">2100</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38145</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">2101</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38177</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">2102</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">37993</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">2103</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">37994</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">2104</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">37995</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3000</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">41</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3001</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38124</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3002</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38121</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3003</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38127</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3004</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38081</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3005</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38091</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3006</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38072</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3007</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38088</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3008</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38098</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3009</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38120</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3010</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38130</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3011</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38137</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3012</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38139</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3013</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38140</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3014</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38144</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3015</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38146</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3016</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38197</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3017</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38182</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3018</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38147</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3019</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38198</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3020</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38149</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3021</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">0</condition>
            <reward __type="u32">38156</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3100</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38054</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3101</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38057</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3102</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38052</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3103</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38055</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3104</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38053</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3105</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38059</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3106</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38050</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3107</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38051</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3108</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38049</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3109</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38048</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3110</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38025</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3111</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37997</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3112</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38004</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3113</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38001</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3114</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37996</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3115</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37999</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3116</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38000</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3117</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38003</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3118</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37998</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3119</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38002</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3120</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37950</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3121</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37954</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3122</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37957</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3123</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37947</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3124</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37956</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3125</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37952</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3126</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37961</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3127</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37949</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3128</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37948</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3129</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37955</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3130</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37946</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3131</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37951</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3132</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37953</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3133</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">37958</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3134</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38076</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3135</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38095</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3136</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">4</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38094</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3137</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">8</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38094</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3138</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">4</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38099</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3139</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">8</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38099</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3140</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38067</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3141</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38083</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3142</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38097</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3143</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38128</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3144</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38082</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3145</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38129</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3146</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38070</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3147</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38071</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3148</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38085</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3149</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38086</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3150</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38131</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3151</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38132</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3152</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38133</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3153</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38134</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3154</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38135</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3155</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38136</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3156</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38142</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3157</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38143</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3158</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38183</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3159</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38184</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3160</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38190</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3161</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38191</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3162</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38192</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3163</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38194</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3164</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38195</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3165</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38196</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3166</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38150</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3167</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38151</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3168</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38193</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3169</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38200</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3170</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38201</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3171</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38202</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3172</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38203</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3173</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38204</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3174</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38205</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3175</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38206</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3176</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38215</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3177</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38216</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3178</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38217</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3179</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38218</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3180</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38220</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3181</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38221</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
        <eventdata>
            <eventid __type="u32">3182</eventid>
            <eventtype __type="s32">10</eventtype>
            <eventno __type="u32">0</eventno>
            <condition __type="s64">10000</condition>
            <reward __type="u32">38222</reward>
            <comptime __type="s32">1</comptime>
            <savedata __type="s64">0</savedata>
        </eventdata>
    </playerdata>
</response>